.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
}
.movieImage{
    border-radius: 15px;
    object-fit: cover;
}

.titleDetail{
    margin-top: 0;
    font-size: 1.6rem;
    color: #9F91FE;
}

.movieDetails{
    font-size: 1.5rem;
}

.btnBack{
    display: flex;
    justify-content: flex-start;
}